body {
    padding: 0px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.gif {
    max-width: 300px;
    margin:10px;
}
.nav-item {
    margin-right: 20px;
    margin-top: -10px;
    transition: 0.5s;
}
.nav-item:hover {
    margin-right: 20px;
    color:teal;
}

nav { 
    margin-bottom: 10px;
    width:100%;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.nav-bar {
    margin-top: 50px;
}

.footer {
    height: 75px;
    width:100%;
    background-color: #151513;
    position: absolute;
    bottom: 0px;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.link {
    text-decoration: none;
    color:#fff;
    transition: 0.5s;
}
.link_h3 {
    text-decoration: none;
    color:#151513;
    transition: 0.5s;
}

.link_h3:hover {
    color:teal;
}

.me {
    color:#fff;
    transition: 0.5s;
}

.me:hover {
    text-decoration: none;
    color:teal;
}

.presentation-container {
    width:100%;
    display: flex;
    justify-content: flex-end;
    height: 600px;
    margin-top: -20px;
}