.nav-item {
    margin-right: 20px;
}
.nav-item:hover {
    margin-right: 20px;
    color:teal;
}

nav { 
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: row;
}

.nav-bar {
    
}

.presentation-container {
    width:100%;
    display: flex;
    justify-content: flex-end;
    
}